.navbar-collapse{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
}
.navbar{
  background-image: radial-gradient(circle at bottom center, rgb(84, 13, 239),rgb(79, 34, 84));
}
.button{
  background-image: radial-gradient(circle at bottom center, rgb(84, 13, 239),rgb(79, 34, 84));
}
.signup{ 
  font-weight: 700;
  color: rgb(82,19,190);
}
.form-label{
  color: rgb(84,13,235);
  font-weight: 500;
}
.signin{ 
  font-weight: 700;
  color: rgb(82,19,190);
}
.container{
  border: 3px solid rgb(82,19,190);
  width: 40vw;
  padding: 20px;
  border-radius: 15px;
}
.sidebar{
  height: 100vh;
}
.sidebar-link{
  color: blueviolet !important;
  font-size: 18px;
}
.formik-error{
  font-size: 18px;
  color:red;
}
legend{
  color: rgb(82,19,190);
  font-weight:500;
  font-size:xx-large;
  font-family:Georgia, Times, 'Times New Roman', serif
}



.home {
  padding: 2rem;
}

.jumbotron {
  color: rgb(114, 29, 192);
  border-radius: 0.5rem;
  padding: 2rem;
}

.display-3 {
  font-size: 3rem;
  font-weight: 700;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.btn-primary {
  background-image: linear-gradient(to right, rgb(164, 115, 243), rgb(156, 23, 151)); 
  border:none;
}

.btn-primary:hover {
  background-image: linear-gradient(to right, rgb(111, 31, 168), rgb(98, 0, 163)); /* Darker violet on hover */
}
hr.my-4 {
  border-top: 1px solid rgb(220, 220, 220);
}

@media (max-width: 768px) {
  .display-3 {
    font-size: 2.5rem;
  }
  .lead {
    font-size: 1.1rem;
  }
}
